<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NanayaSettings.Users" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NanayaSettings.Users" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NanayaSettings.Users>
            <setting name="Tokens" serializeAs="String">
                <value />
            </setting>
        </NanayaSettings.Users>
    </userSettings>
    <applicationSettings>
        <NanayaSettings.Users>
            <setting name="MasterToken" serializeAs="String">
                <value>Ch0kushiNoM4gan!</value>
            </setting>
        </NanayaSettings.Users>
    </applicationSettings>
</configuration>